
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
   padding: 0;
   margin: 0;
}
 .sc{
   
   box-sizing: border-box;
 }
 .menu{
   
    text-align: left;
    
}
.menu ul{
    display: inline-flex;
    list-style: none;
}
.menu ul li {
margin: 25px;
position: relative;
}
.menu ul li a{
  padding: 8px; 
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 2px solid black;
  border-radius: 20px;
  position: relative;
  margin-top: 200px;
  transition: 0.5s;
  
}
.logo{
    margin-right: 500px;
}

 
 .si{
     width: 80px;
 }
 .sc{
     position: absolute;
     right: 0;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #111;
     color: #fff;
     z-index: 2;
     transition: 1.5s;
 }
 
.sc header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sc.active{
   right: 300px; 
}
 
 
 .sc video{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover; 
    
 
 }
 .overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   
 }
 .text{
    position: relative;
}
 .text h2{
     font-size: 80px;
     font-weight: 500;
     line-height: 1em;
     text-transform: uppercase;
 }
 .text h3{
     font-size: 50px;
     font-weight: 400;
     line-height: 1em;
     text-transform: uppercase;
 }
 
 .text p{
     font-size: 30px;
     margin: 20px 0;
     font-weight: 100;
     min-width: 700px;
 
 }
 .text a img{
     height: 40px;
     width: 40px;
 }
 .text a{

     font-size: 1em;
     background: #fff;
     padding:20px 20px;
     text-decoration: none;
     text-align: center;
     color: #111;
     border-radius: 20px;
     text-transform: none;
     border-bottom: 2px solid black;
    transition: 0.5s;
 }


 .social{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li{
    list-style: none;
}
.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.text a:hover {
    letter-spacing: 10px;
}

.social li a:hover{
    transform: scale(0.5) translateY(-15px);    
}
.secend{
    

    height: 500px;
    width: 500px;
    background-color: black;
}
.menu ul li:hover{
    transform: scale(0.5);
}
